<div class = "container col-5 mt-5 mb-5">
  <% if @user == current_user %>
    <div class = "mt-4 mb-5">
      <h2>Myいいね一覧</h2>
    </div>
  <% else %>
    <div class = "mt-4 mb-5">
      <h2><%= @user.name %>さんのいいね一覧</h2>
    </div>
  <% end %>
  
  <% if @favorites.empty? %>
    まだ、いいねしてません。
  <% else %>
    <table class="table border">
      <thead style="background-color: #ffe6ee;">
        <tr>
          <th class="poster">投稿者</th>
          <th class = "text-center">店名</th>
          <th class = "text-center">タイトル</th>
          <th class = "text-center">コメント数</th>
          <th class = "text-center">いいね</th>
        </tr>
      </thead>
      <tbody>
        <% @favorites.each do |favorite| %>
          <tr>
            <td class="poster"><%= I18n.t("enums.user.local_person.#{favorite.review.user.local_person}") %></td>
            <td class = "text-center"><h4><%= link_to favorite.review.shop , review_path(favorite.review) %></h4></td>
            <td class = "text-center"><%= favorite.review.title %></td>
            <td class = "text-center" id = "comment_count">
              <%= render "user/comments/count", review: favorite.review %>
            </td>
            <td class = "text-center" id="favorite_buttons_<%= favorite.review.id %>">
              <%= render "user/favorites/favorite", review: favorite.review %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>