<div class = "container my-5">
  <div class="row justify-content-center">
    <div class="col-10">

      <%= form_with model: User.new, url: user_registration_path do |f| %>

        <div class = "border py-3 px-4">
          <h2>アカウント作成</h2>

          <div class= "text-center mt-5 mb-4">
            <div class="border col-9 mx-auto" style="background-color: #ffe6ee;">
              アカウントを作成すると<br>
              <strong>投稿・いいね・コメント・Myページ・検索・マップ</strong><br>
              が使えるようになります。
            </div>
          </div>

          <% if flash[:alert] %>
            <div class="alert mb-3" style="background-color: #ffd4d1; color: #930403; border: solid 1px #930403;">
              <%= flash[:alert] %>
            </div>
          <% end %>

          <div class = "my-5">
            <%= render "user/shared/error_messages", resource: resource %>
          </div>

          <div class = "row justify-content-center">
            <div>
              <%= f.label :name, "★表示名" %><br>
              <%= f.text_field :name, :placeholder => "※2～10字以内" %>
            </div>
          </div>

          <div class = "mt-4 row justify-content-center">
            <div>
              <%= f.label :email, "★メールアドレス" %><br>
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>
          </div>

          <div class = "mt-4 row justify-content-center">
            <div>
              <%= f.label :password,"★パスワード" %><br>
              <%= f.password_field :password, :placeholder => "※6字以上", autocomplete: "new-password" %>
            </div>
          </div>

          <div class = "mt-4 row justify-content-center">
            <div>
              <%= f.label :password_confirmation, "★パスワード" %><br>
              <%= f.password_field :password_confirmation, :placeholder => "※確認用", autocomplete: "new-password" %>
            </div>
          </div>

          <div class = "mt-4 row justify-content-center">
            <div>
            <%= f.label :local_person, "★北九州の人ですか？"%><br>
              <div class="form-check">
                <%= f.radio_button :local_person, :local, id: "local_person", class: "form-check-input" %>
                <%= f.label :local_person, "yes", class: "form-check-label" %>
              </div>
              <div class="form-check">
                <%= f.radio_button :local_person, :traveler, id: "local_person", class: "form-check-input" %>
                <%= f.label :local_person, "no", class: "form-check-label" %>
              </div>
              ※一度登録すると変更できません
            </div>
          </div>

          <div class = "d-flex justify-content-center mt-5 mb-4">
            <%= f.submit "作成" , class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
   </div>
  </div>
</div>