<div class = "container col-8 my-5">

  <div class="search_form">
    <%= form_with url: admin_search_path, local: true, method: :get, class: "d-flex align-items-center" do |f| %>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fas fa-search"></i>
          </span>
        </div>
        <%= f.text_field :word, placeholder: "キーワード検索", class: "form-control" %>
        <div class="input-group-append">
          <%= f.select :range, options_for_select([['レビュー'], ['ユーザー']]), {}, class: "custom-select" %>
          <%= f.submit "検索", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>

    <div class = " mt-4 mb-1">
      <% if (@range == "レビュー" && @reviews.present?) %>
        <p><%= @reviews.total_count %>件のレビューが見つかりました。</p>
      <% elsif (@range == "ユーザー" && @users.present?) %>
        <p><%= @users.total_count %>件のユーザーが見つかりました。</p>
      <% end %>
    </div>

  <% if @reviews.present? || @users.present? %>
    <div class = "mt-5">
    <h2>検索結果</h2>
      <div class="mt-2 ml-4">
        検索ワード
        <% if "#{@word}".present? %>
          <div class="alert alert-primary p-1 d-inline-block" role="alert" style="font-size: 0.8rem; width: auto;">
            <%= "#{@word}" %>
          </div>
        <% else %>
          <div class="alert alert-primary p-1 d-inline-block" role="alert" style="font-size: 0.8rem; width: auto;">
            なし
          </div>
        <% end %>
      </div>
    </div>


    <% unless (@range == "レビュー" && @reviews.blank?) || (@range == "ユーザー" && @users.blank?) %>
      <% if @range == "レビュー" %>
        <table class="table border table-hover">
          <div class="d-flex justify-content-end">
            <%= link_to '新しい順', admin_search_path(latest: "true", word: params[:word], range: params[:range], local_person: @local_person, sort: true) %>
            | <%= link_to '古い順', admin_search_path(old: "true", word: params[:word], range: params[:range], local_person: @local_person, sort: true) %>
            | <%= link_to '人気順', admin_search_path(favorite_count: "true", word: params[:word], range: params[:range], local_person: @local_person, sort: true) %>
          </div>
          <thead style="background-color: #ffe6ee;">
            <tr>
              <th class="poster1">
                <%= form_with url: admin_search_path, method: :get, local: true do |f| %>
                  <div class="form-group">
                    <%= hidden_field_tag :word, params[:word] %>
                    <%= hidden_field_tag :range, params[:range] %>
                    <%= select_tag :local_person, options_for_select([['選択なし', ''], ['地元民', 'local'], ['旅行者', 'traveler']], selected: params[:local_person]), class: "form-control" %>
                  </div>
                  <%= submit_tag 'フィルター', class: "btn btn-primary" %>
                <% end %>
              </th>
              <th class = "text-center">店名</th>
              <th class = "text-center">ジャンル</th>
              <th class = "text-center">タイトル</th>
              <th class = "text-center">コメント数</th>
              <th class = "text-center">いいね数</th>
            </tr>
          </thead>
          <tbody>
            <% @reviews.each do |review| %>
              <tr>
                <td class="poster">
                  <% if review.user.local_person == "local" %>
                    <h4 class="person_local"><%= I18n.t("enums.user.local_person.#{review.user.local_person}") %></h4>
                  <% else %>
                    <h4 class="person_traveler"><%= I18n.t("enums.user.local_person.#{review.user.local_person}") %></h4>
                  <% end %>
                </td>
                <td class = "text-center"><h4><%= link_to review.shop , admin_review_path(review) %></h4></td>
                <td class = "text-center"><%= review.genre %></td>
                <td class = "text-center"><%= review.title %></td>
                <td class = "text-center" id = "comment_count">
                  <%= render "user/comments/count", review: review %>
                </td>
                <td class = "text-center"><%= review.favorites.count %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% elsif @range == 'ユーザー' %>
        <table class="table border table-hover">
          <thead style="background-color: #a1e6e6;">
            <tr>
              <th class="poster1">
                <%= form_with url: admin_search_path, method: :get, local: true do %>
                  <div class="form-group">
                    <%= hidden_field_tag :word, params[:word] %>
                    <%= hidden_field_tag :range, params[:range] %>
                    <%= select_tag :local_person, options_for_select([['選択なし', ''], ['地元民', 'local'], ['旅行者', 'traveler']], selected: params[:local_person]), class: "form-control" %>
                  </div>
                  <%= submit_tag 'フィルター', class: "btn btn-primary" %>
                <% end %>
              </th>
              <th class="text-center">ユーザー名</th>
              <th class="text-center">レビュー数</th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td class="poster">
                  <% if user.local_person == "local" %>
                    <h4 class="person_local"><%= I18n.t("enums.user.local_person.#{user.local_person}") %></h4>
                  <% else %>
                    <h4 class="person_traveler"><%= I18n.t("enums.user.local_person.#{user.local_person}") %></h4>
                  <% end %>
                </td>
                <td class="text-center"><h4><%= link_to user.name , admin_user_path(user) %></h4></td>
                <td class="text-center"><%= user.reviews.count %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    <% end %>
    <div class = "d-flex justify-content-center">
      <% if @range == 'レビュー' %>
        <%= paginate @reviews %>
      <% elsif @range == 'ユーザー' %>
        <%= paginate @users %>
      <% end %>
    </div>
    <% elsif !@word.blank? %>
     <h4 class="text-danger text-center mt-5">ヒットしませんでした。</h4>
        <div class = "d-flex justify-content-center mt-5">
          <%= link_to "戻る", "#", onclick: "history.back(); return false;" %>
          <!--元のページのソート機能を保持したまま戻ることができる-->
        </div>
  <% end %>
</div>