<div class = "container col-8 my-5">
  <div class = "border py-3 px-5">
    <h2><%= @user.name %>さんのページ</h2>

      <div class = "container">

        <% if @user.local_person == "local" %>
          <h4 class="person_local mt-4"><%= I18n.t("enums.user.local_person.#{@user.local_person}") %></h4>
        <% else %>
          <h4 class="person_traveler mt-4"><%= I18n.t("enums.user.local_person.#{@user.local_person}") %></h4>
        <% end %>

        <div class = "row">
          <div class = "col-5 d-flex flex-column mt-2">
            <%= image_tag @user.get_image(300,300) %>
          </div>
          <div class = "col-7 d-flex flex-column mt-2">
            <table class="table table-sm">
              <tbody>
                <tr>
                  <th>名前：</th><td><h4><%= @user.name %></h4></td>
                </tr>
                <tr>
                  <th>一言：</th><td><%= @user.introduction %></td>
                </tr>
                <tr>
                  <th>いいね一覧：</th><td><%= link_to "見る", user_favorites_path(@user) %></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
  </div>

  <div class = "d-flex justify-content-center mt-3 mb-5">
    <%= link_to "戻る", "#", onclick: "history.back(); return false;" %>
    <!--元のページのソート機能を保持したまま戻ることができる-->
  </div>

  <div>
    <div class = "mt-4 mb-2">
      <h5><%= @user.name %>さんのレビュー一覧</h5>
    </div>

      <% if @reviews.empty? %>
        投稿はまだありません
      <% else %>
        <div class = "d-flex justify-content-end">
          <%= link_to '新しい順', user_path(@user, latest: "true") %>
          |<%= link_to '古い順', user_path(@user, old: "true") %>
          |<%= link_to '人気順', user_path(@user, favorite_count: "true") %>
        </div>
        <table class="table border">
          <thead style="background-color: #ffe6ee;">
            <tr>
              <th class = "text-center">店名</th>
              <th class = "text-center">ジャンル</th>
              <th class = "text-center">タイトル</th>
              <th class = "text-center">コメント数</th>
              <th class = "text-center">いいね</th>
            </tr>
          </thead>
          <tbody>
            <% @reviews.each do |review| %>
              <tr>
                <td class = "text-center"><h4><%= link_to review.shop , review_path(review) %></h4></td>
                <td class = "text-center"><%= review.genre %></td>
                <td class = "text-center"><%= review.title %></td>
                <td class = "text-center" id = "comment_count">
                  <%= render "user/comments/count", review: review %>
                </td>
                <td class = "text-center" id = "favorite_buttons_<%= review.id %>">
                  <%= render "user/favorites/favorite", review: review %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
  </div>
</div>