<div class = "container col-8 my-5">

  <div class = "mb-4">
    <h2>みんなのレビュー</h2>
  </div>
  <div class = "d-flex justify-content-end">
    <%= link_to '新しい順', reviews_path(latest: "true") %>
    |<%= link_to '古い順', reviews_path(old: "true") %>
    |<%= link_to '人気順', reviews_path(favorite_count: "true") %>
  </div>
  <table class="table border">
    <thead style="background-color: #ffe6ee;">
      <tr>
        <th class="poster1">
          <%= select_tag 'review_filter', options_for_select([t('enums.user.local_person.選択なし'), t('enums.user.local_person.local'), t('enums.user.local_person.traveler')]), id: 'review_filter' %>
        </th>
        <th class = "text-center">店名</th>
        <th class = "text-center">ジャンル</th>
        <th class = "text-center">タイトル</th>
        <th class = "text-center">コメント数</th>
        <th class = "text-center">いいね</th>
      </tr>
    </thead>
    <tbody>
      <% @reviews.each do |review| %>
        <tr>
          <td class="poster">
            <% if review.user.local_person == "local" %>
              <h4 class="person_local"><%= I18n.t("enums.user.local_person.#{review.user.local_person}") %></h4>
            <% else %>
              <h4 class="person_traveler"><%= I18n.t("enums.user.local_person.#{review.user.local_person}") %></h4>
            <% end %>
          </td>
          <td class = "text-center"><h4><%= link_to review.shop , review_path(review) %></h4></td>
          <td class = "text-center"><%= review.genre %></td>
          <td class = "text-center"><%= review.title %></td>
          <td class = "text-center" id = "comment_count">
            <%= render "user/comments/count", review: review %>
          </td>
          <td class = "text-center" id = "favorite_buttons_<%= review.id %>">
            <%= render "user/favorites/favorite", review: review %>
          </td>

        </tr>
      <% end %>
    </tbody>
  </table>
</div>