<h2>レビュー一覧</h2>

<table>
  <thead>
    <tr>
      <th></th>
      <th>店名</th>
      <th>タイトル</th>
      <th>コメント数</th>
      <th>いいね</th>
    </tr>
  </thead>
  <tbody>
    <% @reviews.each do |review| %>
      <tr>
        <td>
          <%= I18n.t("enums.user.local_person.#{review.user.local_person}") %>
        </td>
        <td><%= link_to review.shop , review_path(review) %></td>
        <td><%= review.title %></td>
        <td id = "comment_count">
          <%= render "user/comments/count", review: review %>
        </td>
        <td id = "favorite_buttons_<%= review.id %>">
          <%= render "user/favorites/favorite", review: review %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>