<div class = "container border col-5 mt-5 mb-5">

  <div class = "mt-4">
    <h3>レビューを投稿しよう！</h3>
  </div>

  <%= render "user/shared/error_messages", resource: @review %>

    <%= form_with model: @review, url: '/reviews', method: :post do |f| %>

        <div class="form-group position-static mt-5">
            <div id="post_raty">初見の入りやすさ：</div> <!-- 星を出力するセレクタ -->
            <% if @review.id.nil? %> <!-- 新規投稿か判別 -->
              <script>
                  var elem = document.querySelector('#post_raty');
                  var opt = {
                      starOn: "<%= asset_path('star-on.png') %>",
                      starOff: "<%= asset_path('star-off.png') %>",
                      scoreName: 'review[star]',
                  };
                  raty(elem,opt);
              </script>
            <% end %>
        </div>

        <div class = "mt-4">
          <%= f.label :shop, "お店の名前" %>
          <%= f.text_field :shop, :placeholder => "※1～20字以内", class: "form-control", required: true %>
        </div>

        <div class = "mt-4">
          <%= f.label :addres, "お店の住所" %>
          <%= f.text_field :address, :placeholder => "※10～50字以内", class: "form-control", required: true %>
        </div>

        <div class = "mt-4">
          <%= f.label :genre, "お店のジャンル" %>
          <%= f.text_field :genre, :placeholder => "例)ラーメン・イタリアン・居酒屋...etc", class: "form-control", required: true %>
        </div>

        <div class = "mt-4">
          <%= f.label :title, "タイトル" %>
          <%= f.text_field :title, :placeholder => "※5～20字以内", class: "form-control", required: true %>
        </div>

        <div class = "mt-4">
          <%= f.label :body, "本文" %>
          <%= f.text_area :body, :placeholder => "※2～400字以内", class: "form-control", required: true %>
        </div>

        <div>
          <div class="d-flex justify-content-center mt-5"><%= f.label :image , "★写真も投稿できます" %></div>
          <div class="d-flex justify-content-center mt-4"><%= f.file_field :image, accept: "image/*" %></div>
        </div>

    <div class = "d-flex justify-content-center mt-5 mb-4">
      <%= f.submit "投稿", class: "btn btn-success w-40" %>
    </div>

    <% end %>
</div>